<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693069361385-ijoqj73s3qta7e96k1f5k0d6q9ms3eog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693069361385-ijoqj73s3qta7e96k1f5k0d6q9ms3eog</string>
	<key>API_KEY</key>
	<string>AIzaSyBXbg8RcImbiRDtkGNhQnBamo4tuBJYjSA</string>
	<key>GCM_SENDER_ID</key>
	<string>693069361385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiLanguges</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-express-7f7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-express-7f7fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693069361385:ios:4abe39dc40e5156b698078</string>
</dict>
</plist>